#category-section {
  width: 100%;
  max-height: 400px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.category-list {
  margin-top: 2%;
  width: 60%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 50px 1% 30px 1%;
  position: relative;
}
.category-text h4{
  font-family: 'Lobster', cursive;
  color:#9a031e;
}
.category-list h2{
  text-align: center;
  margin-bottom: 4%;
  font-family: 'Lobster', cursive;
  color:#023047;
}
.category-food-img {
  height: 100px;
  width: 200px;
}
.category-row {
  margin-top: 2%;
}
.btn-view {
  margin-top: 1%;
  width: 30%;
  background-color: #335c67;
  color: #fff;
  font-weight: 600;
}
.btn-view:hover {
  background-color: #fff;
  border-color: #335c67;
}
@media (max-width: 760px) {
  #category-section {
    margin-top: 12%;
  }
  .category-list{
    margin-top: 4%;
  }
}
@media (min-width: 1450px) {
  #category-section {
    margin-top: 12%;
  }
  .category-list{
    margin-top: 16%;
  }
  .category-food-img {
    float: right;
  }
}
